{% extends 'base.html' %}
{% block content %}
<div class="card shadow-sm">
    <div class="card-header"><h3>Editar Miembro</h3></div>
        <div class="card-body">
            <form method="POST">
                <div class="mb-3">
                    <label>Nombre</label>
                    <input type="text" name="nombre" value="{{ miembro.nombre }}" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label>Email</label>
                    <input type="email" name="email" value="{{ miembro.email }}" class="form-control" required>
                </div>
                <button class="btn btn-warning">Actualizar</button>
            </form>
        </div>
</div>
{% endblock %}
