{% extends 'base.html' %}
{% block content %}
<div class="card shadow-sm">
    <div class="card-header"><h3>Registrar Tarea</h3></div>
        <div class="card-body">
            <form method="POST">
                <div class="mb-3">
                    <label>Descripción</label>
                    <input type="text" name="descripcion" class="form-control" required>
                </div>
                <div class="form-check mb-3">
                    <input type="checkbox" name="completado" class="form-check-input">
                    <label class="form-check-label">Completado</label>
                </div>
                <button class="btn btn-success">Guardar</button>
            </form>
        </div>
</div>
{% endblock %}
